<div class="container mt-3">
  <h2>カート</h2>
  <%= link_to all_destroy_path,method: :delete do %>
    <div class="btn btn-danger">カートを空にする</div>
  <% end %>
   <table class="table">
    <thead class="thead-dark">
      <tr>
         <th scope="col"></th>
         <th scope="col">本のタイトル</th>
          <th scope="col">単価</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th scope="col"></th>
      </tr>
    </thead>
    <% total_price=0 %>
    <% @cart_items.each do |cart_item| %>
    <tbody>
      <td scope="row">
        <%= image_tag cart_item.book.get_image, size: "30x30" %>
      </td>
      <td>
        <%= cart_item.book.name %>
      </td>
      <td>
        <%= cart_item.book.price.to_s(:delimited) %>
      </td>
      <td>
        <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch, local:true do |f| %>
          <%= f.select:amount,*[1..10] %>
          <%= f.submit "変更" %>
        <% end %>
      </td>
      <td>
        <%= cart_item.subtotal.to_s(:delimited) %>
      </td>
      <td>
        <%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger"	%>
      </td><br>
      <% total_price += cart_item.subtotal %>
    </tbody>
    <% end %>
  </table>
  <div class="text-right">
    <h3>合計 <%= total_price.to_s(:delimited)%>円</h3>
  </div>
  <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
  |
  <%= link_to "注文する", new_order_path, class: "btn btn-success"	%>
</div>