<nav class="navbar navbar-expand-lg bg-dark bg-gradient text-white">
   <div class="container">
    <% if admin_signed_in? %>
     <a class="navbar-brand navbar-left" href="/admins/books"><%= image_tag('bookers_shop.png') %></a>
    <% else %>
     <a class="navbar-brand navbar-left" href="/"><%= image_tag('bookers_shop.png') %></a>
    <% end %>
     <nav class="d-flex align-items-center">
       <ul class="nav navbar-nav navbar-right">
         <% if admin_signed_in? %>
         <li class="nav-item">
           <%= link_to admins_customers_path do %><span class="text-light text-white nav-link"><i class="fas fa-regular fa-user"></i>会員一覧</span><% end %>
         </li>
         <li class="nav-item">
           <%= link_to new_admins_book_path do %><span class="text-light text-white nav-link"><i class="fas fa-book"></i>商品投稿</span><% end %>
         </li>
         <li>
           <%= link_to admins_genres_path do %><span class="text-light text-white nav-link"><i class="fas fa-tree"></i>ジャンル一覧</span><% end %>
         </li>
         <li>
           <%= link_to destroy_admin_session_path, method: :delete do %><span class="text-light text-white nav-link"><i class="fas fa-sign-out-alt"></i>ログアウト</span><% end %>
         </li>
         <% elsif customer_signed_in? %>
          <li>
           <%= link_to customer_path(current_customer) do %><span class="text-light text-white nav-link"><i class="fas fa-regular fa-user"></i>マイページ</span><% end %>
         </li>
         <li>
           <%= link_to orders_path do %><span class="text-light text-white nav-link"><i class="fas fa-book"></i>本棚</span><% end %>
         </li>
         <li>
           <%= link_to cart_items_path do %><span class="text-light text-white nav-link"><i class="fas fa-shopping-cart"></i>カート</span><% end %>
         </li>
         <li>
           <%= link_to destroy_customer_session_path, method: :delete do %><span class="text-light text-white nav-link"><i class="fas fa-sign-out-alt"></i>ログアウト</span><% end %>
         </li>
         <% else %>
         <li>
           <%= link_to new_customer_registration_path do %><span class="text-light text-white nav-link"><i class="fas fa-user-plus"></i>新規登録</span><% end %>
         </li>
         <li>
           <%= link_to new_customer_session_path do %><span class="text-light text-white nav-link"><i class="fas fa-sign-in-alt"></i>ログイン</span><% end %>
         </li>
         <% end %>
      </ul>
      <% if admin_signed_in? %>
      <% else %>
       <%= render 'searches/form', book: @book %>
      <% end %>
    </nav>
  </div>
</nav>
